[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude = .git,__pycache__,.venv,venv,backend/apps/blog/migrations,backend/apps/pages/migrations,backend/apps/calculators/migrations,backend/apps/users/migrations
